@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Cherry+Cream+Soda&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --drkgrn-color: #33aa7d;
  --pale-color: #f4fffd;
  --yellow-color: #e3e74d;
  --purple-color: #2c3959;
  --dark-purple: #011936;
  --pink-color: #f77e9f;
  --fun-font: "Cherry Cream Soda", cursive;
  --serious-font: "Cabin", sans-serif;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

a,
ul {
  text-decoration: none;
  font-family: var(--fun-font);
  list-style: none;
}

h1 {
  font-family: var(--serious-font);
}

/* nav bar 1 */
#nav1 {
  display: flex;
  justify-content: space-around;
}
.burger1 {
  position: fixed;
  z-index: 100;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  border: var(--purple-color) solid 1px;
  background: var(--yellow-color);
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu1 {
  position: fixed;
  transform: translateY(-120%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: var(--pale-color);
  list-style: none;
  padding: 8rem 0;
  text-align: center;
}

.showMenu {
  transform: translateY(0);
}

/* nav bar 2  */
#nav2 a {
  color: var(--pale-color);
}

.hidden {
  display: none;
}
#logo,
#hamb,
.icon {
  border: none;
  color: var(--pale-color);
  background-color: var(--drkgrn-color);
}
.nav2 {
  max-width: 1200px;
  width: 100%;
  background-color: var(--drkgrn-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  border: 1px var(--dark-purple) solid;
  margin-top: 3rem;
}

.mobileNav {
  padding: 1rem;
  overflow: auto;
  flex: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
ul#navDesk {
  list-style: none;
  color: var(--pale-color);
  text-align: center;
  padding: 0;
}
li {
  padding: 1rem 0;
}
@media only screen and (min-width: 768px) {
  .icon {
    display: none;
  }

  .nav2 {
    flex-direction: row;
  }

  ul#navDesk {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
    padding: 0 1rem 0 0;
  }
}

/* header 3 */

#burgerIcon3 {
  margin: auto 0;
  cursor: pointer;
}

#burgerIcon3 div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

#burgerIcon3.nav3open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

#burgerIcon3.nav3open .bar2 {
  opacity: 0;
}

#burgerIcon3.nav3open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

#header3 {
  max-width: 1200px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: var(--pink-color);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

#brand a {
  display: flex;
  align-items: center;
  font-family: var(--serious-font);
  font-weight: 900;
  font-size: 2rem;
  color: var(--purple-color);
}

.list3 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

#list a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
#nav3 {
  display: none;
}

#burgerIcon3.nav3open .mobileNav3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobileNav3 {
  display: none;
  position: absolute;
  top: 40%;
  left: 1.2rem;
}

@media only screen and (min-width: 768px) {
  #burgerIcon3 {
    display: none;
  }
  #nav3 {
    display: block;
  }
}
/*nav bar 4*/

#header4 {
  margin-top: 16rem;
}

.main4 {
  margin-left: 5rem;
  padding: 1rem;
}

.nav4 {
  position: absolute;
  background-color: var(--yellow-color);
  transition: width 0.2s ease;
}

.navItem {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav4Item {
  width: 100%;
  padding: 0;
}
.nav4Item:last-child {
  margin-top: auto;
}

.nav4Link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--purple-color);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 0.3s;
}

.link4Text {
  display: none;
}

.nav4Link svg {
  min-width: 2rem;
  margin: 0 1.25rem;
  color: var(--dark-purple);
}

@media only screen and (min-width: 600px) {
  .nav4 {
    width: 5rem;
    height: 100vh;
    margin: 1rem 0 0 0;
  }
  .nav4:hover {
    width: 14rem;
  }
  .nav4:hover .link4Text {
    display: block;
  }

  .nav4Link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--pale-color);
  }
}

@media only screen and (max-width: 600px) {
  .nav4 {
    position: fixed;
    bottom: 0;
    width: calc(100% - 2rem);
    height: 5rem;
  }

  .navItem {
    flex-direction: row;
  }

  .nav4Link {
    justify-content: center;
  }

  svg {
    height: 3rem;
  }

  .main4 {
    margin: 0 0 4rem 0;
  }
}
